<div clas="row">
  <div class="col s12 section_01">
    <h1>Welcome to <strong><i>Travolio.</i></strong></h1>
    <p>Find the best deals to  travel the world!</p>
    <button>Start here!</button>
  </div>
</div>

<div class="row">
  <div class="col s12 section_02">
    <h2>Oh, you're from <%= @homeland %>!</h2>
    <h3>My favorite countries are:</h3>
    <ul>
      <% @countries.each do |country| %>
        <li><%= country %></li>
      <% end %>
    </ul>
  </div>
</div>